[submodule "libs/tinyobjloader"]
	path = libs/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "docs/md"]
	path = docs/md
	url = https://github.com/MolassesLover/vkRenderer.wiki.git
